<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Download</title>
</head>
<body>

<form method="post" th:action="@{/download}" th:object="${searchFileDto}">

    <div class="form-group" style="padding-top: 200px; padding-left: 700px;">
        <h2>Download File</h2>

        <input style="width: 200px; height: 25px; font-size: larger;"
               type="number" th:field="*{fileId}"
               placeholder="File Id" required ><br><br>

        <button style="font-size: larger" type="submit">Download File</button>
    </div>
    <br>

<!--    <p style="padding-top: 30px; padding-left: 700px;" th:if="${session.newRegistrationName != null}">-->
<!--        <a style="font-size: larger;">-->
<!--            Your file was uploaded and registered under that name:</a><br><br>-->
<!--        <a style="font-size: larger;"-->
<!--           th:href="@{/upload}"-->
<!--           th:text="${session.newRegistrationName}">00123_New-File-Name</a>-->
<!--    </p>-->

    <p style="font-size: large; font-family: Arial; padding-left: 700px; color: rebeccapurple; white-space: pre;"
       th:if="${exceptionsMessages != null }"
       th:text="${exceptionsMessages}"> Exceptions Messages</p>

</form>

</body>
</html>