<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tree Setup</title>
</head>
<body>

<div style="display: flex; float: left; font-family: Arial">

    <!--    System values -->
    <form style="padding-top: 100px; padding-left: 150px;">

        <label style="font-size: x-large; font-family: Arial;">
            Current System</label><br><br><br><br>

        <label style="font-size: x-large;"
               th:text="'Capacity: ' +
               ${currentSystemState.getTreeCapacity()}">
            Demo Text</label><br><br>

        <label style="font-size: x-large;"
               th:text="'File Count: ' +
               ${filesCount}">
            Demo Text</label><br><br>

        <label style="font-size: x-large;"
               th:text="'Capacity taken: ' +
               ${(filesCount * 100) / currentSystemState.getTreeCapacity()} + '%'">
            Demo Text</label><br><br>

        <div>
            <label style="font-size: x-large;"
                   th:text="'Proportion: ' +
                   ${currentSystemState.getProportionSystem()} +
                   ':' +
                   ${currentSystemState.getProportionDir()}">
                Demo Text</label><br><br>
        </div>

        <div class="form-label-group">
            <label style="font-size: x-large;"
                   th:text="'Proportion growth factor: ' +
                   ${currentSystemState.getProportionGrowthFactor()}">
                Demo Text</label><br><br>
        </div>

        <div class="form-label-group">
            <label style="font-size: x-large;"
                   th:text="'Directory capacity: ' +
                   ${currentSystemState.getDirCapacity()}">
                Demo Text</label><br><br>
        </div>

        <div class="form-label-group">
            <label style="font-size: x-large;"
                   th:text="'Directory count: ' +
                   ${currentSystemState.getDirCapacity() * currentSystemState.getProportionSystem()}">
                Demo Text</label><br><br>
        </div>

        <div class="form-label-group">
            <label style="font-size: x-large;"
                   th:text="'Directory growth factor: ' +
                   ${currentSystemState.getDirGrowthFactor()}">
                Demo Text</label><br><br>
        </div>

        <div class="form-label-group" style="font-size: x-large;">
            <label th:if="${currentSystemState.isDirState()}" >Directory is Fixed</label>
            <label th:unless="${currentSystemState.isDirState()}">Directory is UnFixed</label>
        </div><br><br><br>

<!--        next system state-->
        <label style="font-size: x-large; font-family: Arial;">
            Next System State</label><br><br><br>

<!--        if fixed-->
        <div th:if="${currentSystemState.isDirState()}">

            <label style="font-size: x-large;"
                   th:text="'Capacity: ' +
               ${currentSystemState.getDirCapacity() *
               (currentSystemState.getDirCapacity() *
               (currentSystemState.getProportionSystem() + currentSystemState.getProportionGrowthFactor()))}">
                Demo text</label><br><br>

            <label style="font-size: x-large;"
                   th:text="'Proportion: ' +
                   ${currentSystemState.getProportionSystem() + currentSystemState.getProportionGrowthFactor()} +
                   ':' +
                   ${currentSystemState.getProportionDir()}">
                Demo Text</label><br><br>

            <label style="font-size: x-large;"
                   th:text="'Directory count: ' +
                   ${currentSystemState.getDirCapacity() *
                   (currentSystemState.getProportionSystem() + currentSystemState.getProportionGrowthFactor())}">
                Demo Text</label><br><br>

            <label style="font-size: x-large;"
                   th:text="'Directory capacity: ' +
                   ${currentSystemState.getDirCapacity()}">
                Demo Text</label><br><br>
        </div>

        <!--        if NOT fixed-->
        <div th:unless="${currentSystemState.isDirState()}">

            <label style="font-size: x-large;"
                   th:text="'Capacity: ' +
               ${(currentSystemState.getDirCapacity() + currentSystemState.getDirGrowthFactor()) *
               ((currentSystemState.getDirCapacity() + currentSystemState.getDirGrowthFactor()) *
               (currentSystemState.getProportionSystem() + currentSystemState.getProportionGrowthFactor()))}">
                Demo text</label><br><br>

            <label style="font-size: x-large;"
                   th:text="'Proportion: ' +
                   ${currentSystemState.getProportionSystem() + currentSystemState.getProportionGrowthFactor()} +
                   ':' +
                   ${currentSystemState.getProportionDir()}">
                Demo Text</label><br><br>

            <label style="font-size: x-large;"
                   th:text="'Directory count: ' +
                   ${(currentSystemState.getDirCapacity() + currentSystemState.getDirGrowthFactor()) *
                   (currentSystemState.getProportionSystem() + currentSystemState.getProportionGrowthFactor())}">
                Demo Text</label><br><br>

            <label style="font-size: x-large;"
                   th:text="'Directory capacity: ' +
                   ${(currentSystemState.getDirCapacity() + currentSystemState.getDirGrowthFactor())}">
                Demo Text</label><br><br>

        </div>


    </form>

</div>

<div style="display: flex; float: left; font-family: Arial">

    <!--    Setup tree -->
    <form style="padding-top: 100px; padding-left: 100px;"
          th:action="@{/tree-setup/change}"
          th:object="${systemStateDto}"
          method="post">

        <label style="font-size: x-large; font-family: Arial;">
            Setup Tree Structure</label><br><br><br><br><br><br>

        <div>
            <input style="width: 200px; height: 25px; font-size: larger;"
                   type="number" th:field="*{proportionSystem}"
                   placeholder="Proportion system" required ><br>
            <label>Proportion System</label>
        </div><br/>

        <div class="form-label-group">
            <input style="width: 250px; height: 25px; font-size: larger;"
                   type="number" th:field="*{proportionGrowthFactor}"
                   placeholder="Proportion Growth Factor" required><br>
            <label>Proportion Growth Factor</label>
        </div><br/>

        <div class="form-label-group">
            <input style="width: 250px; height: 25px; font-size: larger;"
                   type="number" th:field="*{dirCapacity}"
                   placeholder="Directory capacity" required><br>
            <label>Directory capacity</label>
        </div><br/>

        <div class="form-label-group">
            <input style="width: 250px; height: 25px; font-size: larger;"
                   type="number" th:field="*{dirGrowthFactor}"
                   placeholder="Directory growth factor" required><br>
            <label>Directory growth factor</label>
        </div><br/>

        <div class="form-label-group">
            <input style="width: 25px; height: 25px; font-size: larger;"
                   type="checkbox"
                   th:field="*{dirState}"><br>
            <label>Checked = Fixed, Unchecked = UnFixed</label>

        </div><br/>

        <button style="width: 200px; height: 30px; font-size: larger;"
                type="submit">Update system state</button>
    </form>

</div>

<div style="display: flex; float: left">

    <!--    Calculate -->
    <form style="padding-top: 100px; padding-left: 100px;"
          th:action="@{/tree-setup/calculate}"
          th:object="${calculateSystemStateDto}"
          method="post">

        <label style="font-size: x-large; font-family: Arial;">
            Calculate Tree Structure</label><br><br><br><br><br>

        <div>
            <input style="width: 200px; height: 25px; font-size: larger;"
                   type="number" th:field="*{systemProportion}" >
            <label style="font-size: larger; font-family: Arial">: 1</label><br>
            <label style="font-size: larger; font-family: Arial;">Directory : Files - Proportion</label><br>
        </div><br/>


        <div class="form-label-group">
            <input style="width: 200px; height: 25px; font-size: larger;"
                   type="number" th:field="*{directoryCapacity}"
                   placeholder="Directory capacity" required><br>
            <label style="font-size: larger; font-family: Arial;">Directory capacity</label><br>
        </div><br/>


        <button style="width: 200px; height: 30px; font-size: larger;"
                type="submit">Calculate system</button>
    </form>

</div>


<div style="float: right; padding-right: 200px; padding-top: 100px;">
    <div style="overflow-x:auto; height: 400px; width: 400px; font-size: x-large; border-style: solid;">
        <table>

            <tbody>

            <tr th:if="${session.systemStateCalculated != null}">
                <div style="white-space: pre; padding-left: 20px; padding-top: 20px; font-family: Arial;"
                     th:text="${session.systemStateCalculated}">Strings here</div>
            </tr>

            </tbody>
        </table>
    </div>
</div>

</body>
</html>